# This can be an IP address, CIDR, or hostname for your wireless
ACCESS_ALLOWED_CIDR=192.168.1.0/24
SHARED_SECRET=testing123

# Domain Name
DOMAIN_NAME=example.com

# LDAP Settings
LDAP_SERVER=ldap1.example.com
LDAP_BASE_DN=DC=example,DC=com
LDAP_USERNAME=username
LDAP_PASSWORD=password
## for group class, use group for AD and posixGroup for anything else
LDAP_GROUP_CLASS=group
## for ldap search, use samaccountname for AD and uid for anything else
LDAP_IDENTIFIER=samaccountname
## if you are using certs to authenticate (GSuite LDAP) - do not include if not using
#LDAP_CERTS=true

# eduroam Settings (used as the default realm)
EDUROAM_AUTHHOST=tlrs1.eduroam.us
EDUROAM_ACCTHOST=tlrs1.eduroam.us
EDUROAM_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx